<!--Blog Section-->
    <section class="blog-section">
      <div class="auto-container">

            <!--Sec Title-->
            <div class="sec-title clearfix">

                <div class="em-text">check the latest news</div>
                <h2 class="heading-text">Latest from our blog</h2>

            </div>

          <div class="clearfix">

                <!--Blog Post-->
                <article class="col-md-3 col-sm-6 col-xs-12 blog-post wow fadeInUp" data-wow-delay="50ms" data-wow-duration="1500ms">
                  <div class="inner-box">
                      <div class="post-info">
                          <span class="icon flaticon-calendar-icons"></span> Jan 15,2015 &ensp;
                            <span class="icon fa fa-user"></span> John Doe
                        </div>
                        <h3 class="post-title"><a href="#">Helping people to safe the civil justice</a></h3>
                        <div class="post-desc"><p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p></div>
                        <div class="more-link"><a href="#" class="theme-btn read-more">Read More <span class="icon flaticon-right11"></span></a></div>

                        <div class="image-layer">
                          <figure class="image"><a href="#"><img src="/img/resource/blog-image-1.jpg" alt=""></a></figure>
                            <div class="link-btn"><a href="#" class="theme-btn default-btn">Read More <span class="fa fa-caret-right"></span></a></div>
                        </div>

                    </div>
                </article>

                <!--Blog Post-->
                <article class="col-md-3 col-sm-6 col-xs-12 blog-post wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                  <div class="inner-box">
                      <div class="post-info">
                          <span class="icon flaticon-calendar-icons"></span> Jan 15,2015 &ensp;
                            <span class="icon fa fa-user"></span> John Doe
                        </div>
                        <h3 class="post-title"><a href="#">Just hire an attorney to fight for your rights</a></h3>
                        <div class="post-desc"><p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p></div>
                        <div class="more-link"><a href="#" class="theme-btn read-more">Read More <span class="icon flaticon-right11"></span></a></div>

                        <div class="image-layer">
                          <figure class="image"><a href="#"><img src="/img/resource/blog-image-1.jpg" alt=""></a></figure>
                            <div class="link-btn"><a href="#" class="theme-btn default-btn">Read More <span class="fa fa-caret-right"></span></a></div>
                        </div>

                    </div>
                </article>

                <!--Blog Post-->
                <article class="col-md-3 col-sm-6 col-xs-12 blog-post wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                  <div class="inner-box">
                      <div class="post-info">
                          <span class="icon flaticon-calendar-icons"></span> Jan 15,2015 &ensp;
                            <span class="icon fa fa-user"></span> John Doe
                        </div>
                        <h3 class="post-title"><a href="#">Safe the family and estate rights in town</a></h3>
                        <div class="post-desc"><p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p></div>
                        <div class="more-link"><a href="#" class="theme-btn read-more">Read More <span class="icon flaticon-right11"></span></a></div>

                        <div class="image-layer">
                          <figure class="image"><a href="#"><img src="/img/resource/blog-image-1.jpg" alt=""></a></figure>
                            <div class="link-btn"><a href="#" class="theme-btn default-btn">Read More <span class="fa fa-caret-right"></span></a></div>
                        </div>

                    </div>
                </article>

                <!--Blog Post-->
                <article class="col-md-3 col-sm-6 col-xs-12 blog-post wow fadeInUp" data-wow-delay="50ms" data-wow-duration="1500ms">
                  <div class="inner-box">
                      <div class="post-info">
                          <span class="icon flaticon-calendar-icons"></span> Jan 15,2015 &ensp;
                            <span class="icon fa fa-user"></span> John Doe
                        </div>
                        <h3 class="post-title"><a href="#">Helping people to safe the civil justice</a></h3>
                        <div class="post-desc"><p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p></div>
                        <div class="more-link"><a href="#" class="theme-btn read-more">Read More <span class="icon flaticon-right11"></span></a></div>

                        <div class="image-layer">
                          <figure class="image"><a href="#"><img src="/img/resource/blog-image-1.jpg" alt=""></a></figure>
                            <div class="link-btn"><a href="#" class="theme-btn default-btn">Read More <span class="fa fa-caret-right"></span></a></div>
                        </div>

                    </div>
                </article>

            </div>
        </div>
    </section>
