<footer class="main-footer">
      <div class="auto-container">

            <!--Footer Content-->
            <div class="footer-content">
              <div class="social-links">
                  <a href="#"><span class="fa fa-facebook-f"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-linkedin"></span></a>
                    <a href="#"><span class="fa fa-google-plus"></span></a>
                </div>
                <div class="copyright">© 2016 {{ .Site.Copyright }} </div>
            </div>

        </div>
    </footer>
