<!-- Main Header -->
    <header class="main-header" style="padding-bottom:80px;">
      <!-- Header Top -->
     <!-- <div class="header-top">
          <div class="auto-container clearfix">

              <div class="top-left">
                  <ul class="clearfix">
                      <li><a href="/#"><span class="fa fa-phone"></span> (080) 4523-4514</a></li>
                        <li><a href="/mailto:noreply@regulator.com"><span class="fa fa-at"></span> noreply@regulator.com</a></li>
                        <li><a href="/#"><span class="fa fa-map-marker"></span> Wallstreet 214, New York City</a></li>
                    </ul>
                </div>

                <div class="top-right">
                  <div class="sel-lang clearfix">
                      <div class="lang-label pull-left">Language</div>
                        <ul class="lang-list pull-left clearfix">
                          <li><a href="/#">DE</a></li>
                            <li class="current"><a href="/#">EN</a></li>
                            <li><a href="/#">FR</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>-->
        <!-- Header Top End -->

        <!-- Search Box -->
        <div class="search-box toggle-box">
          <div class="auto-container clearfix">

                <!-- Search Form -->
                <div class="search-form">
                  <form method="post" action="/">
                        <div class="form-group">
              <input type="search" name="search" value="" placeholder="Search">
                            <button class="search-submit" type="submit"><span class="f-icon fa fa-search"></span></button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <!-- Header Lower -->
        <div class="header-lower">
          <div class="auto-container clearfix">

                <!--Outer Box-->
                <div class="outer-box">

                    <!-- Logo -->
                    <div class="logo">
                        <a href="/"><img src="/img/logo.png" alt="Regulator"></a>
                     </div>

                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation">
                                <li><a href="/about-us">About Us</a></li>
                                <li><a href="/services">Services</a></li>
                                <li><a href="/agms">AGMS</a></li>
                                <li class="dropdown"><a>Hiding for designing</a>
                                <ul>
                                <li><a href="/body-corporate-management">Body Corp Management</a></li>
                                <li><a href="/body-corporate-set-up">Body Corp Set Up</a></li>
                                <li><a href="/contact-us">Contact Us</a></li>
                                <li><a href="/information-requests">Information Requests</a></li>
                                <li><a href="/tattoo">Tattoo</a></li>
                                </ul>
                                </li>

                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->

                    <div class="search-box-btn">
                      <div class="search-btn"><span class="icon fa fa-search"></span></div>
                    </div>

                </div>
            </div>
        </div><!-- Header Lower End-->

    </header><!--End Main Header -->
