<!-- Main Header -->
    <header class="main-header" style="padding-bottom:80px;">

        <!-- Header Lower -->
        <div class="header-lower">
          <div class="auto-container clearfix">

                <!--Outer Box-->
                <div class="outer-box">

                    <!-- Logo -->
                    <div class="logo">
                        <a href="/"><img src="/img/cbcs-logo.png" alt="Regulator"></a>
                     </div>

                    <!-- Main Menu -->
                    <nav class="main-menu">

                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="nav navbar-nav navbar-right">
                              <li><a href="https://www.facebook.com/cbcsnz" target="_blank"><img src="/img/FB icon.png" alt="Facebook"></a></li>
                            </ul>

                            <ul class="navigation">
                                <li><a href="/#about">About Us</a></li>
                                <li class="dropdown"><a href="/#services">Services</a>
                                  <ul>
                                    <li><a href="/body-corporate-set-up">Body Corp Set Up</a></li>
                                    <li><a href="/body-corporate-management">Body Corp Management</a></li>
                                    <li><a href="/accounting-services">Accounting Services</a></li>
                                  </ul>

                                </li>
                                <li><a href="/disclosure-statements">Disclosure<br>Statements</a></li>
                                <li><a href="/contact-us">Contact Us</a></li>
                                <li class="dropdown"><a>Hiding for designing</a>
                                <ul>
                                <li><a href="/tattoo">Tattoo</a></li>
                                <li><a href="/hazelcourt">Hazelcourt</a></li>
                                </ul>
                                </li>

                            </ul>

                        </div>

                    </nav><!-- Main Menu End-->



                </div>
            </div>
        </div><!-- Header Lower End-->

    </header><!--End Main Header -->
