
{{ partial "header.html" . }}

<a name="top_anchor"></a>
<div class="page-wrapper">

    {{ partial "navbar.html" . }}
    {{ partial "main/banner.html" . }}

    <a name="about" class="anchor"></a>
    {{ partial "main/summary.html" . }}


    <a name="services" class="anchor"></a>
    {{ partial "main/what-we-are-doing.html" . }}



    <a name="contact" class="anchor"></a>

    {{ partial "main/parallax.html" . }}
    <!-- {{ partial "main/main-footer" . }} -->




</div>
<!--End pagewrapper-->

{{ partial "footer.html" . }}
