
{{ partial "header.html" . }}

<a name="top_anchor"></a>
<div class="page-wrapper">

    {{ partial "navbar.html" . }}
    {{ partial "main/banner.html" . }}
    {{ partial "main/summary.html" . }}

    <a name="about_us" class="anchor"></a>

    {{ partial "main/what-we-are-doing.html" . }}


    {{ partial "main/two-column-box.html" . }}
    {{ partial "main/team.html" . }}

    <a name="contact" class="anchor"></a>

    {{ partial "main/parallax.html" . }}
    {{ partial "main/testimonials.html" . }}
    {{ partial "main/main-footer" . }}




</div>
<!--End pagewrapper-->

{{ partial "footer.html" . }}
