{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

{{ partial "navbar.html" . }}

<section class="page-title">
  <div class="auto-container">
    <div class="text-center">
      <h1 id="title">{{ .Title }}</h1>
      </div>
  </div>
</section>

  <section id="page">
    <div class="sidebar-page">
      <div class="auto-container">

            <div class="row clearfix">

                <div class="col-md-12 col-sm-6 col-xs-12">
                    <section class="content-section">
                        <!--Sec Title-->
                        <div class="sec-title clearfix">
                        <h2 class="heading-text">                        {{ .Title }}</h2>
                        </div>
                         {{ .Content }}
                   </section>
                   </div>
                 </div>

    </div>
    </div>
  </section>


{{ partial "dreamland-footer.html" . }}
{{ partial "footer.html" . }}
