@import 'variables';

.main-menu .navigation > li {
  margin-left: 30px;
}
.fixed-header .main-menu .navigation > li > a {
    // padding: 34px 15px 26px;
    padding: 34px 5px 15px 5px;
}

a.anchor{position: absolute; height: 60px; margin-top: -60px;}


.summary-section {
  position:relative;
  padding:50px 0px 20px;
  background: $white;
}

.read-more-link {
  color: $primary-hightlight;
}

.read-more-link:hover {
  color: darken($primary-hightlight, 20%);
}

#statements {
  table {
    margin-bottom: 20px;
  }
  td {
    padding-right: 120px;
  }
}

section#page {
  ul {
    margin-left: 30px;
    margin-bottom: 20px;
    li {
      list-style: initial;
    }
  }
}

#social-facebook {
    margin-top: 12px;
}


/***

====================================================================
  Main Footer style
====================================================================

***/

.main-footer{
  position:relative;
  background: $footer-background;
  padding:0px;
}

.footer-content{
  position:relative;
  padding:40px 0px 40px;
  color:#3b3b3b;
  text-align:center;
}

.main-footer .footer-content{
  color:$sidebar-title;
}

.footer-content .social-links{
  position:relative;
  margin-bottom:15px;
}

.footer-content .social-links a{
  display:inline-block;
  width:36px;
  height:36px;
  line-height:36px;
  color:#ffffff;
  font-size:16px;
  margin:0px 5px;
  border-radius:3px;
  transition:all 300ms ease;
  -webkit-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
}

.footer-content .social-links a:hover{
  background:$primary-hightlight;
}
