@media only screen and (max-width: 1300px){
	.main-footer .contact-widget .social-links{
		position:relative;
		left:0px;
		top:0px;
		width:100%;	
	}
}

@media only screen and (max-width: 1140px){
	.main-menu .navigation > li{
		margin-left:20px;	
	}
}


@media only screen and (max-width: 1023px){
	.main-footer .contact-widget{
		padding-right:10px;	
	}
	
	.main-menu .navigation > li{
		margin-left:5px;
	}
	
	.main-menu .navigation > li > a{
		padding-left:6px !important;
		padding-right:6px !important;	
	}
	
	.featured-section .column .image{
		position:relative;	
	}
	
	.sidebar-page .comments-area .reply-btn{
		position:relative;
		display:inline-block;
		padding:5px 15px;
		top:0px;
		margin-top:10px;	
	}
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 767px){
	
	.header-lower .outer-box{
		padding-right:0px;	
	}
	
	.header-lower .outer-box .search-box-btn{
		display:none;	
	}
	
	.main-menu{
		float:none;
		margin-right:-60px;
		right:-10px;
		top:10px;
		padding-top:25px;
		z-index:5;
		padding-bottom:0px;
	}
	
	.fixed-header .main-menu{
		padding-top:20px;
	}
	
	.main-menu .collapse {
	   max-height:300px;
		overflow:auto;
		float:none;
		width:100%;
		padding:0px;
		border:1px solid #ffffff;
		margin:10px;
		border-radius:3px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		padding:0px;
		border:1px solid #ffffff;
		margin:10px;
		border-radius:3px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;	
	}
	
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		top:-7px;
		right:0px;
		width:auto;
		z-index:12;
	}
	
	.main-menu .navbar-header .navbar-toggle{
		display:block;
		z-index:7;
		border:1px solid #ff9000;
		margin:0px 0px 0px 0px;
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ff9000;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px;
		width:100%;
		background:#ff9000;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px;
		float:none;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
	}
	
	.main-menu .navigation > li > ul > li > a:after,
	.main-menu .navigation > li > ul:before,
	.main-menu .navigation > li > ul:before{
		display:none !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		width:100%;
		background:#ff9000;
		border-radius:0px;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		border-top:1px solid rgba(255,255,255,1) !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:10px 10px !important;
		line-height:22px;
		color:#ffffff;
		background:#ff9000;
		text-align:left;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#ff9000;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navbar-collapse > .navigation > li.dropdown > a::after{
		display:none !important;	
	}
	
	.main-menu .navigation > li > a:after,
	.main-menu .navigation > li > ul > li > a:before,
	.main-menu .navigation > li > ul > li > ul > li > a:before{
		display:none;	
	}
	
	.main-footer .footer-bg-layer,
	.main-footer:after{
		display:none;	
	}
	
	.main-footer .about-widget .des-text .logo-image{
		 position:relative;	
	}
	
	.main-footer .about-widget .des-text{
		padding-left:0px;	
	}
}

