$orange: #ff9000;
$white: #ffffff;
$grey-blue: #222a33;
$reddish: rgba(255,0,0,0.20);
$greyish: #d0d0d0;
$sidebar-title-header: #1c1c1c;
$sidebar-header: #292929;
$lighter-grey: #202020;
$light-grey-more: #3d3d3d;
$grey2: #222222;
$grey5: #555555;
$grey7: #777777;
$grey8: #888888;
$grey97: #979797;
$black: #000000;

$grey30: #303030;
$grey3a: #3a3a3a;
$grey50: #505050;
$grey56: #565656;
$c9: #c9c9c9;
$lightgrey-ed: #ededed;
$lightgrey-ef: #efefef;
$f7: #f7f7f7;





$ccc: #cccccc;
$ddd: #dddddd;
$peach: #f17338;
$sidebar-title: #f1f1f1;

$sidebar-header-hover: #fb4848;
$comments-info: #bcbcbc;
$sidebar-contact: #7f7f7f;
$charcoal: #423b36;
$eggshell: #ffc13b;
$canary: #ffcc02;

$roboto: 'Roboto Condensed', sans-serif;
$georgia: 'Georgia',serif;
$header-sans: 'Montserrat', sans-serif;
$primary-sans: 'Open Sans', sans-serif;




// CBCS Colors
$cbsc_red: #9A3233;
$cbsc_silver: #B1B6B3;
$cbsc_grey: #78848B;
$cbsc_dark_grey: #4B4B4D;

// Original Theme Colors
$primary-hightlight: $cbsc_red;
$cbsc_white:  #ffffff;
$cbsc_lightgrey: #c9c9c9;
$cbsc_grey: $grey8;
$cbsc_darkgrey: $charcoal;
