{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

{{ partial "navbar.html" . }}

  <section id="statements">
    <div>
          <article id="content">
          <section class="page-title" style="background-image:url(/img/parallax-image-5.jpg);">
      <div class="auto-container">
          <div class="text-center">
                <h1>Disclosure Statements</h1>
                <div class="icon"><img src="/img/icons/icon-arrows.png" alt=""></div>
            </div>
        </div>
    </section>

    <div class="sidebar-page">
      <div class="auto-container">

            <div class="row clearfix">

                <div class="col-md-9 col-sm-6 col-xs-12">
                    <section class="contact-section">
                        <!--Sec Title-->
                        <div class="sec-title clearfix">
                            <h2 class="heading-text">Disclosure Statements</h2>
                        </div>

                              <div class="text">{{ .Content }}</div>

                        <br>

                        <div class="form">

                            <form id="contact-form" method="post" novalidate="novalidate" name="statements" action="/#thank-you-statement" netlify>
                                <div class="row clearfix">
                                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group-inner">
                                            <div class="icon-box"><label for="your-name"><span class="icon fa fa-user"></span></label></div>
                                            <div class="field-outer">
                                                <input type="text" name="username" id="your-name" placeholder="Your Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group-inner">
                                            <div class="icon-box"><label for="your-email"><span class="icon fa fa-envelope"></span></label></div>
                                            <div class="field-outer">
                                                <input type="email" name="email" id="your-email" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group-inner">
                                            <div class="icon-box"><label for="your-phone"><span class="icon fa fa-edit"></span></label></div>
                                            <div class="field-outer">
                                                <input type="text" name="phone" id="your-phone" placeholder="Phone Number">
                                            </div>
                                        </div>
                                    </div>
              <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group-inner">
                                            <div class="icon-box"><label for="bc-name"><span class="icon fa fa-edit"></span></label></div>
                                            <div class="field-outer">
                                                <input type="text" name="bc-name" id="bc-name" placeholder="Body Corporate Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group-inner">
                                            <div class="icon-box"><label for="bc-unit"><span class="icon fa fa-edit"></span></label></div>
                                            <div class="field-outer">
                                                <input type="text" name="bc-unit" id="bc-unit" placeholder="Unit Number">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group-inner">
                                            <textarea name="message" placeholder="Tell us which type of disclosure statement is needed and if it is urgent
                                           "></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12 col-xs-12 text-right">
                                        <button class="hvr-bounce-to-right" type="submit" name="submit-form">Send Message   <span class="icon flaticon-envelope32"></span></button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </section>
                </div>

                <!--Sidebar-->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <aside class="sidebar">
                        <!-- Contact Information -->
                        <div class="widget contact-info">
                          <div class="sidebar-title"><h3>Contact information</h3></div>
                            <ul class="info">
                                <li><strong>Email</strong> {{ .Params.email }}</li>
                                <li><strong>Phone</strong> {{ .Params.phone }}</li>
                                <li><strong>Fax</strong> {{ .Params.fax }}</li>
                            </ul>
                        </div>

                    </aside>


                </div>
                <!--Sidebar-->

            </div>
        </div>
    </div>
          </article>
    </div>
  </section>

{{ partial "dreamland-footer.html" . }}
{{ partial "footer.html" . }}
