<!--Featured Services-->
    <section class="featured-services">
      <div class="auto-container">
          <div class="row clearfix">

                <!--Service Column-->
              <article class="col-md-4 col-sm-4 col-xs-12 featured-box wow fadeInLeft" data-wow-delay="50ms" data-wow-duration="1500ms">
                  <div class="inner-box">
                      <h3><span class="icon flaticon-stars62"></span> Attorneys &amp; Lawers</h3>
                        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>

                        <div class="number-icon"><img src="/img/icons/numbers/1.png" alt=""></div>
                    </div>
                </article>

                <!--Service Column-->
              <article class="col-md-4 col-sm-4 col-xs-12 featured-box wow fadeInUp" data-wow-delay="250ms" data-wow-duration="1500ms">
                  <div class="inner-box">
                      <h3><span class="icon flaticon-suitcase46"></span> Business Laws &amp; Rights</h3>
                        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>

                        <div class="number-icon"><img src="/img/icons/numbers/2.png" alt=""></div>
                    </div>
                </article>

                <!--Service Column-->
              <article class="col-md-4 col-sm-4 col-xs-12 featured-box wow fadeInRight" data-wow-delay="500ms" data-wow-duration="1500ms">
                  <div class="inner-box">
                      <h3><span class="icon flaticon-weighing6"></span> Civil &amp; Family Rights</h3>
                        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>

                        <div class="number-icon"><img src="/img/icons/numbers/3.png" alt=""></div>
                    </div>
                </article>


            </div>
        </div>
    </section>
