<!--Main Footer-->
    <footer class="main-footer">

        <!--Footer Upper-->
      <div class="footer-upper">
          <div class="auto-container">
              <!--Footer bg Layer-->
            <div class="footer-bg-layer"></div>

                <div class="row clearfix">

                    <!--Footer-column-->
                    <div class="col-md-4 col-sm-4 col-xs-12 footer-column">
                        <div class="footer-widget contact-widget">
                            <div class="widget-title"><h3>Make An Appointment</h3></div>
                            <div class="form-container">
                                <form method="post" action="index.html">
                                    <div class="row clearfix">
                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                            <input type="text" name="name" placeholder="Enter Your name" required>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="row clearfix">
                                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                                    <input type="text" name="sel-date" class="date-field" placeholder="DD/MM/YEAR" required>
                                                </div>
                                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                                    <select class="category">
                                                        <option>Select Category</option>
                                                        <option>Category One</option>
                                                        <option>Category Two</option>
                                                        <option>Category Three</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                    <input type="email" name="email" placeholder="Enter Your Email" required>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                    <textarea placeholder="Type Your Message Here" required></textarea>
                                                    <button type="submit" class="theme-btn">SEND MESSAGE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!--Social Links-->
                            <div class="social-links">
                              <a href="#"><span class="fa fa-facebook-f"></span></a>
                                <a href="#"><span class="fa fa-instagram"></span></a>
                                <a href="#"><span class="fa fa-pinterest-p"></span></a>
                                <a href="#"><span class="fa fa-google"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-dribbble"></span></a>
                            </div>

                        </div>
                    </div>

                    <!--Footer-column-->
                    <div class="col-md-8 col-sm-8 col-xs-12 footer-column">
                        <div class="footer-widget about-widget">
                            <div class="widget-title"><h3>About Us</h3></div>
                            <div class="clearfix des-text">
                              <img src="/img/logo-2.png" alt="" class="logo-image">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
                            </div>
                        </div>

                        <div class="row clearfix">
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="footer-widget links-widget">
                                  <div class="widget-title"><h3>Popular Categories</h3></div>
                                  <ul>
                                      <li><a href="#">Civil &amp; Family Rights</a></li>
                                        <li><a href="#">Laws &amp; Rights</a></li>
                                        <li><a href="#">Court House</a></li>
                                        <li><a href="#">Estate Lawyer</a></li>
                                        <li><a href="#">Police Matter</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="footer-widget links-widget">
                                  <div class="widget-title"><h3>Client Information</h3></div>
                                  <ul>
                                      <li><a href="#">Our Attorneys</a></li>
                                        <li><a href="#">Practise Areas</a></li>
                                        <li><a href="#">Latest News</a></li>
                                        <li><a href="#">Our Blog</a></li>
                                        <li><a href="#">Contact Information</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="footer-widget links-widget">
                                  <div class="widget-title"><h3>Customer Services</h3></div>
                                  <ul>                                      <li><a href="#">Support Forums</a></li>
                                        <li><a href="#">Community Area</a></li>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="#">Customer Feedback</a></li>
                                        <li><a href="#">Terms &amp; Conditions</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--Footer bootom-->
        <div class="footer-bottom">
          <div class="auto-container">
              <span>&copy; Copyright 2015 by KL-Webmedia | All rights reserved</span>
            </div>
        </div>

    </footer>
