    <!--Parallax Section-->
    <section class="parallax-section" style="background-image:url(/img/parallax/image-1.jpg);">
      <div class="auto-container">
          <div class="text-center wow zoomIn" data-wow-delay="0ms" data-wow-duration="1500ms">
              <h2>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor <br>invidunt ut labore et dolore magna aliquyam erat"</h2>
                <div class="line"></div>
                <a class="theme-btn default-btn" href="#">GET IN TOUCH WITH US <span class="fa fa-caret-right"></span></a>

            </div>
        </div>
    </section>
