<!--Summary-->
<section class="summary-section">
  <div class="auto-container">
  <div class="row clearfix">

   <!--Sec Title-->
            <div class="sec-title clearfix">

                <div class="em-text">who we are</div>
                <h2 class="heading-text">About Us</h2>

            </div>

    <div class="col-md-8 col-sm-12 col-xs-12 text-column">

    <p><strong>Established in January of 2008, Complete Body Corp Solutions provides quality Body Corporate management services throughout the greater Wellington region.</strong></p>

    <p>Ben DuFlou (Director and Chartered Accountant) and Shayne Thurston (Director and Property Management Specilaist) co-founded CBCS to provide a wide range of property, building management and accounting services to bodies corporate, company share and cross-lease properties in Wellington and its surrounding localities.</p>

    <p>CBCS has a complete understanding of the Unit Titles Act 2010 and its provisions and building management matters. We have experience working with heritage listed buildings earthquake listed buildings, and associated issues with these. CBCS has worked with developers in the set up of new body corporates for buildings and we have transitioned many buildings across to our management.</p>
    </div>
   <div class="col-md-4 col-sm-12 col-xs-12 image-column">
    <figure class="image"><img src="/img/circle with text.jpg"  class="img-responsive" alt=""></figure>
  </div>

   </div>
  </div>
</section>



