<!--Banner-->
<section class="banner">
  <div class="auto-container">
  <div class="row clearfix">
    <div class="col-md-8 col-sm-12 col-xs-12 text-column">

    <h1>Complete Bodycorp Solutions</h1>

    <p><strong>Shayne Thurston (Director & Property Manager) and Ben
    Duflou (Director & Chartered Accountant) set up Complete
    Body Corporate Solutions Limited to provide exceptional body
    corporate management services.</strong></p>

    <p>Shayne and Ben had identified through their discussions with unit owners
    and body corporate committee members, that obtaining understandable
    and timely information was difficult to achieve. They also identified that
    body corporate committees generally struggled to fully appreciate and
    meet the numerous obligations under the Unit Titles Act.</p>

    <p>Complete Body Corp Solutions provides a wide range of body corporate
    management and accounting services, including contract management
    of service providers, managing procedural issues, ensuring committee
    compliance with Unit Titles Act, issuing disclosure statements, monthly
    reporting, maintenance planning, taxation compliance and year-end
    reporting.</p>
    </div>
   <div class="col-md-4 col-sm-12 col-xs-12 image-column">
    <figure class="image"><img src="/img/circle with text.jpg" alt=""></figure>
  </div>

   </div>
  </div>
</section>



