<!--Team Members Section-->
    <section class="members-section">
      <div class="auto-container">

            <!--Sec Title-->
            <div class="sec-title clearfix">

                <div class="em-text">we are here for you</div>
                <h2 class="heading-text">Our attorneys</h2>

            </div>

          <div class="row clearfix">

                <!--Member-->
                <article class="col-md-3 col-sm-6 col-xs-12 member-column">
                  <div class="inner-box">
                      <figure class="image">
                          <a href="#"><img src="/img/resource/team-1.jpg" alt=""></a>
                            <div class="social-links">
                              <div class="plus-btn"></div>
                                <ul class="links">
                                  <li><a href="#" class="fa fa-facebook-f"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                </ul>
                            </div>
                        </figure>
                        <div class="member-title">
                          <h4>Jack Wilshere</h4>
                            <p><em>Lawyer - Family Rights</em></p>
                        </div>
                        <div class="member-desc">
                          <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                        </div>
                        <ul class="member-info">
                          <li><strong>PHONE:</strong>  +49 123 456 789</li>
                            <li><strong>E-MAIL:</strong>  <a href="mailto:erange@email.com">erange@email.com</a></li>
                        </ul>
                    </div>
                </article>

                <!--Member-->
                <article class="col-md-3 col-sm-6 col-xs-12 member-column">
                  <div class="inner-box">
                      <figure class="image">
                          <a href="#"><img src="/img/resource/team-2.jpg" alt=""></a>
                            <div class="social-links">
                              <div class="plus-btn"></div>
                                <ul class="links">
                                  <li><a href="#" class="fa fa-facebook-f"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                </ul>
                            </div>
                        </figure>
                        <div class="member-title">
                          <h4>Vanessa Murglin</h4>
                            <p><em>Lawyer - Civil Rights</em></p>
                        </div>
                        <div class="member-desc">
                          <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                        </div>
                        <ul class="member-info">
                          <li><strong>PHONE:</strong>  +49 123 456 789</li>
                            <li><strong>E-MAIL:</strong>  <a href="mailto:erange@email.com">erange@email.com</a></li>
                        </ul>
                    </div>
                </article>

                <!--Member-->
                <article class="col-md-3 col-sm-6 col-xs-12 member-column">
                  <div class="inner-box">
                      <figure class="image">
                          <a href="#"><img src="/img/resource/team-3.jpg" alt=""></a>
                            <div class="social-links">
                              <div class="plus-btn"></div>
                                <ul class="links">
                                  <li><a href="#" class="fa fa-facebook-f"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                </ul>
                            </div>
                        </figure>
                        <div class="member-title">
                          <h4>Markus Johanson</h4>
                            <p><em>Lawyer - Estate Law</em></p>
                        </div>
                        <div class="member-desc">
                          <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                        </div>
                        <ul class="member-info">
                          <li><strong>PHONE:</strong>  +49 123 456 789</li>
                            <li><strong>E-MAIL:</strong>  <a href="mailto:erange@email.com">erange@email.com</a></li>
                        </ul>
                    </div>
                </article>

                <!--Member-->
                <article class="col-md-3 col-sm-6 col-xs-12 member-column">
                  <div class="inner-box">
                      <figure class="image">
                          <a href="#"><img src="/img/resource/team-4.jpg" alt=""></a>
                            <div class="social-links">
                              <div class="plus-btn"></div>
                                <ul class="links">
                                  <li><a href="#" class="fa fa-facebook-f"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                </ul>
                            </div>
                        </figure>
                        <div class="member-title">
                          <h4>Lukas Willington</h4>
                            <p><em>Lawyer - Family Rights</em></p>
                        </div>
                        <div class="member-desc">
                          <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                        </div>
                        <ul class="member-info">
                          <li><strong>PHONE:</strong>  +49 123 456 789</li>
                            <li><strong>E-MAIL:</strong>  <a href="mailto:erange@email.com">erange@email.com</a></li>
                        </ul>
                    </div>
                </article>

            </div>
        </div>
    </section>
