<!--Testimonials-->
    <section class="testimonials-section">
    <div class="auto-container">

            <!--Sec Title-->
            <div class="sec-title clearfix">

                <div class="em-text">what our client said</div>
                <h2 class="heading-text">Client Testimonials</h2>

            </div>

          <div class="testimonials-slider column-carousel three-column">

                <article class="slide-item">
                  <figure class="image-box"><img src="/img/resource/author-thumb.jpg" alt=""></figure>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>

                    <div class="info-box clearfix">
                      <h3>Jack Willshere  &ensp; <strong class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></strong></h3>
                    </div>

                </article>

                <article class="slide-item">
                  <figure class="image-box"><img src="/img/resource/testi-image-5.jpg" alt=""></figure>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>

                    <div class="info-box clearfix">
                      <h3>Jack Willshere  &ensp; <strong class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></strong></h3>
                    </div>

                </article>

                <article class="slide-item">
                  <figure class="image-box"><img src="/img/resource/testi-image-7.jpg" alt=""></figure>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>

                    <div class="info-box clearfix">
                      <h3>Jack Willshere  &ensp; <strong class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></strong></h3>
                    </div>

                </article>

                <article class="slide-item">
                  <figure class="image-box"><img src="/img/resource/author-thumb.jpg" alt=""></figure>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>

                    <div class="info-box clearfix">
                      <h3>Jack Willshere  &ensp; <strong class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></strong></h3>
                    </div>

                </article>

                <article class="slide-item">
                  <figure class="image-box"><img src="/img/resource/testi-image-5.jpg" alt=""></figure>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>

                    <div class="info-box clearfix">
                      <h3>Jack Willshere  &ensp; <strong class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></strong></h3>
                    </div>

                </article>

                <article class="slide-item">
                  <figure class="image-box"><img src="/img/resource/testi-image-7.jpg" alt=""></figure>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>

                    <div class="info-box clearfix">
                      <h3>Jack Willshere  &ensp; <strong class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></strong></h3>
                    </div>

                </article>

                <article class="slide-item">
                  <figure class="image-box"><img src="/img/resource/author-thumb.jpg" alt=""></figure>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>

                    <div class="info-box clearfix">
                      <h3>Jack Willshere  &ensp; <strong class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></strong></h3>
                    </div>

                </article>

                <article class="slide-item">
                  <figure class="image-box"><img src="/img/resource/testi-image-5.jpg" alt=""></figure>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>

                    <div class="info-box clearfix">
                      <h3>Jack Willshere  &ensp; <strong class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></strong></h3>
                    </div>

                </article>

                <article class="slide-item">
                  <figure class="image-box"><img src="/img/resource/testi-image-7.jpg" alt=""></figure>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>

                    <div class="info-box clearfix">
                      <h3>Jack Willshere  &ensp; <strong class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></strong></h3>
                    </div>

                </article>

            </div>

        </div>
    </section>
