<!--Two Column Boxed Section-->
    <section class="boxed-section featured-section two-col-boxed no-padd-bottom">
      <div class="auto-container">

            <!--Sec Title-->
            <div class="sec-title clearfix">

                <div class="pull-left">
                  <div class="em-text">our job is your security</div>
                    <h2 class="heading-text">Our practise areas</h2>
                </div>

                <div class="pull-right">
                  <a href="#" class="theme-btn regular-btn">VIEW ALL PRACTISE AREAS</a>
                </div>

            </div>

            <div class="row clearfix">

                <!--Column / Image Column-->
                <div class="col-md-6 col-sm-12 col-xs-12 column">
                  <figure class="image"><img src="/img/resource/image-2.jpg" alt=""></figure>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                <!--Boxes Container-->
                    <div class="outer-container">
                        <div class="clearfix">

                            <!--Box-->
                            <article class="col-md-6 col-sm-6 col-xs-12 pract-box wow fadeInDown" data-wow-delay="100ms" data-wow-duration="1500ms">
                                <div class="box-inner">
                                    <div class="content-outer">
                                        <div class="content">
                                            <div class="icon flaticon-handcuffs1"></div>
                                            <h3>Criminal Defense</h3>
                                            <em>99 jobs done</em>
                                        </div>
                                    </div>
                                </div>
                                <div class="overlay-box">
                                    <div class="content-outer">
                                        <div class="content">
                                            <h3>Criminal Defense</h3>
                                            <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolorerat.</p>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <!--Box-->
                            <article class="col-md-6 col-sm-6 col-xs-12 pract-box wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1500ms">
                                <div class="box-inner">
                                    <div class="content-outer">
                                        <div class="content">
                                            <div class="icon flaticon-judge1"></div>
                                            <h3>Justice Policy</h3>
                                            <em>109 jobs done</em>
                                        </div>
                                    </div>
                                </div>
                                <div class="overlay-box">
                                    <div class="content-outer">
                                        <div class="content">
                                            <h3>Justice Policy</h3>
                                            <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolorerat.</p>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <!--Box-->
                            <article class="col-md-6 col-sm-6 col-xs-12 pract-box wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                <div class="box-inner">
                                    <div class="content-outer">
                                        <div class="content">
                                            <div class="icon flaticon-banking2"></div>
                                            <h3>Court House</h3>
                                            <em>421 jobs done</em>
                                        </div>
                                    </div>
                                </div>
                                <div class="overlay-box">
                                    <div class="content-outer">
                                        <div class="content">
                                            <h3>Court House</h3>
                                            <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolorerat.</p>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <!--Box-->
                            <article class="col-md-6 col-sm-6 col-xs-12 pract-box wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1500ms">
                                <div class="box-inner">
                                    <div class="content-outer">
                                        <div class="content">
                                            <div class="icon flaticon-weight1"></div>
                                            <h3>Civil &amp; Family Rights</h3>
                                            <em>198 jobs done</em>
                                        </div>
                                    </div>
                                </div>
                                <div class="overlay-box">
                                    <div class="content-outer">
                                        <div class="content">
                                            <h3>Civil &amp; Family Rights</h3>
                                            <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolorerat.</p>
                                        </div>
                                    </div>
                                </div>
                            </article>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
